Flask
accelerate==1.13.0
nibabel
numpy
Pillow
pypdf>=6.0.0
PyYAML>=6.0.3
safetensors==0.7.0
matplotlib
torch
torchvision
scikit-image
scipy>=1.6.0
tqdm>=4.60.0
pandas
tensorboardX>=1.14
opencv-python
openpyxl>=3.1.5
clean-fid
dropblock
torchviz
pydot_ng
einops
torch>=1.6
torchvision
numpy
pandas
tqdm
tensorboardX>=1.14
scipy 
opencv-python
clean-fid
dropblock
torchviz
pydot_ng
einops
transformers==5.3.0
